* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 150px !important;
  height: 150px !important;
  border-radius: 100% !important;
  object-fit: cover;
}

.btn:hover {
  background-color: var(--coloreclipse) !important;
}

.carousel-inner>img {
  height: 500px !important;
}

.carousel-item>img {
  height: 500px !important;
}

@media (min-width: 768px) {
  section {
    flex-direction: row !important;
  }

  iframe {
    flex-direction: column !important;
  }
}