*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
  width: 150px !important; 
  height: 150px !important;
  border-radius: 100% !important;
  object-fit: cover;
}

  .boton {
  padding: 12px 24px;
  background-color: #007bff;  /* Azul */
  color: white !important;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnSuscribir:hover {
  background-color: #0056b3; 
}


.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

#btnSuscribir {
  background-color: var(--color-detalles1);
}

#btnIniciarSesion {
  background-color: var(--color-detalles3);
    }

#btnContacto {
  background-color: var(--color-detalles2)
    }


.modal-contenido {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.cerrar {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cerrar:hover {
  color: #000;
}


.modal-contenido form {
  display: flex;
  flex-direction: column;
}

.modal-contenido label {
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-contenido input[type="text"],
.modal-contenido input[type="email"] {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

#btnEnviar {
  padding: 12px;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#btnEnviar:hover {
  background-color: #1e7e34;
}

.footerconteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.columnainstagram{
    width: 100%;
    margin: 20px;
}
.columnawhatsapp{
    width: 100%;
    margin: 20px;
}
.columnatwiter{
    width: 100%;
    margin: 20px;
}
.columnaOperativa{
    width: 100%;
    margin: 20px;
}

.GaleriadeImagenes {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; 
}

@media (min-width: 600px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
}

.GaleriadeImagenes {
    width: 100%;
    display: block;
}

