:root{
    --color-principal: black;
    --color-detalles1:#6f49e4;
    --color-detalles2:#9f70ed;
    --color-detalles3:#cf98f6;
    --coloreclipse: #e22a7f;
    --color-blanco: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
  width: 150px !important; 
  height: 150px !important;
  border-radius: 100% !important;
  object-fit: cover;
}
.btn:hover{
  background-color: var(--coloreclipse) !important;
}