:root{
    --color-principal: black;
    --color-detalles1:#6f49e4;
    --color-detalles2:#9f70ed;
    --color-detalles3:#cf98f6;
    --coloreclipse: #e22a7f;
    --color-blanco: white;
}

body {
    background-color: var(--color-principal);
}